.DS_Store
RoomWeather/RoomWeather/obj/
RoomWeather/RoomWeather.Android/obj/
RoomWeather/RoomWeather.iOS/obj/
RoomWeather/RoomWeather/bin/
RoomWeather/RoomWeather.Android/bin/
RoomWeather/RoomWeather.iOS/bin/